/* 
tiny:#d0475b
shade:#cb3349
#2b2e73;


*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #555;
}
.about-container,
.program-section {
  padding: 9.6rem 4.8rem;

  /* background: #fff; */
}
.about,
.program {
  position: relative;
}
span.about-icon,
.span.program-icon {
  width: 2rem;
  height: 2rem;
}
.about-title,
.program-title {
  font-size: 3.8rem;
  /* padding: 4.8rem 0 4.8rem 7.2rem; */
  text-transform: uppercase;
  padding-bottom: 4.8rem;
  color: #000;
  padding-top: 4.8rem;
  padding-left: 3.2rem;

  /* text-shadow: 0px 2px 2px #2b2e73; */
  font-weight: 700;
}
sup {
  display: inline-block;
  color: #cb3349;
  font-size: 4.2rem;
}
.about span,
.program span {
  font-size: 5.8rem;
}
.about::before,
.program::before {
  content: "";
  display: block;
  width: 1rem;
  height: 20rem;
  background: #cb3349;
  /* #2b2e73; */
  left: 0%;
  top: 0%;
  position: absolute;
}
.about-first-paragraph,
.program-first-paragraph {
  font-size: 1.8rem;
  /* padding: 0 3rem; */

  color: #333;
  line-height: 1.5;
}
.other-part {
  padding: 9.6rem 3.2rem 0rem 3.2rem;
  display: grid;
  gap: 4.8rem;
  grid-template-columns: repeat(2, 1fr);
}
.video-content {
  /* padding: 3rem; */
  width: 100%;
  /* height: 100%; */
}
.video-heading {
  font-size: 4.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.5rem;
}
.video-paragraph {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
}

/* partner section */

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.section-partner {
  padding: 4.8rem;
  background-color: #f7f7f7;
}
.heading-partner-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #333;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 9.6rem;
  /* box-shadow: 3px 3px 3px gray; */
}

/* program section */
.program-section {
  padding: 9.6rem 4.8rem;
}

.card {
  box-shadow: 0px 3px 4px rgba(134, 132, 132, 0.267);
  border-radius: 9px;
  overflow: hidden;
  transition: all 0.4s;
}
.card:hover {
  transform: translate(5px, -5px);
  cursor: pointer;
}
.card-img {
  text-align: center;
  position: relative;
}
.card:hover .program-title-position {
  display: block;
}
.program-title-position {
  position: absolute;
  bottom: 0.2rem;
  display: none;
  font-size: 2.4rem;
  color: #fff;

  text-transform: uppercase;
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.466);
  transition: all 0.3s;
}

/* program */

.program-img {
  width: 100%;
}
.program-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
  width: 80%;
  padding: 9.6rem 0rem 0rem 0rem;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;

  /* background: red; */
}
.program-paragraph {
  font-size: 1.6rem;
}
.card .btn-program-sm {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 0;
}
.btn-program:link,
.btn-program:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  text-transform: uppercase;
  color: #fff;
  background-color: #cb3349;
  font-size: 1.8rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
}
.btn-program:hover,
.btn-program:active {
  background-color: #d0475b;
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.151);
}

.program-content {
  padding: 2rem;
}
/* footer */
.footer {
  padding: 4.8rem 0;
  border-top: 3px solid #2b2e73;
  background-color: #333;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.social-links {
  display: flex;
  list-style-type: none;
  gap: 2.4rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #eee;
  margin-top: auto;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
  color: #fff;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address {
  margin-bottom: 2.4rem;
  color: #ddd;
}
.footer-nav {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #ddd;
  transition: all 0.3sec;
}
.footer-link:hover,
.footer-link:active {
  color: #555;
}
.img-carousel {
  padding: 4.8rem;
  background-image: url("../assets/img/carouselImg.jpg");
  background-position: center center;
}
/* carousel */
.img-carousel {
  /* background: #eee; */
  position: relative;
  width: 100%;
  /* height: 100vw; */
  overflow: hidden;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  /* height: 400px; */
}
@media (max-width: 768px) {
  .swiper-slide {
    width: 250px;
    height: auto;
  }
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-fraction {
  bottom: 0;
}
.swiper-pagination-bullet {
  width: 25px;
  height: 5px;
  border-radius: 5px;
}
